body {
    font-family: Arial, sans-serif;
    background-color: #969696;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
}

.animated-link {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 24px;
}

.animated-link::before,
.animated-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    transform-origin: left;
}

.animated-link::before {
    background-color: white;
    transition: opacity 0.3s ease;
}

.animated-link::after {
    background-color: orange;
    opacity: 0;
    transform: scaleX(1);
    transition: opacity 0.3s ease;
}

.animated-link:hover::after {
    opacity: 1;
    animation: growOrange 0.3s forwards;
}
@keyframes growOrange {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}